/* Headings */
#package-details h4, #module-details h4 {
    border-bottom: 1px solid #888;
}

/* Code Blocks */
pre, .class, .function {
    font-size: 13px;
}

pre {
    padding: 1.5em;
}

/* Classes */
.class {
    background: #d5d5ee;
    padding: 1.5em;
}

/* Functions */
.function .sig {
    background: #d0e7ee;
    padding: 1.5em;
    margin: 1em 0;
}

/* Improve function signatures with type hints */

.sig-param:first-of-type()::before {
    content: '';
}

.sig-param::before {
    content: '\A    ';
    white-space: pre;
}

/* Prefer increasing width in field lists over wrapping */
dl.field-list > dt {
    word-break: normal;
}

.sig-param + .sig-paren::before {
    content: '\A';
    white-space: pre;
}

*[class*="change-"] + *[class*="change-"] {
    margin-left: 0.1em;
}

/* Diff / Comparisons between hardforks */
.change-added, .change-removed, .change-replacement, .change-replaced {
    padding: 0.2em;
    border: 1px solid;
    border-left: none;
    border-right: none;
}

.change-added, .change-replacement {
    background: rgba(0, 255, 0, 0.2);
    border-color: green;
}

.change-removed, .change-replaced {
    background: rgba(255, 0, 0, 0.2);
    border-color: red;
}

/* Stability warning */
#disclaimer {
    background: grey;
    color: white;
    border-bottom: 1px solid grey;
    padding: 0.5em;
    text-align: center;
    font-family: sans-serif;
    box-shadow: 0px 3px 2px -2px rgba(0,0,0,0.3);
    width: 100%;
    top: 0;
    right: 0;
    z-index: 2;
}

#disclaimer a, #disclaimer a:visited {
    color: #000;
}

.wy-nav-side, .wy-nav-content-wrap {
    top: 4em;
}

.hideElement {
    visibility: "hidden";
    display: none;
}

.toctree-l3 .change-replaced, .toctree-l3 .change-replacement {
    background-color: #c9c9c9;
    border-color: #c9c9c9;
}

@media (min-width: 876px) {
    #disclaimer {
        position: fixed;
        height: 4em;
    }

    body {
        margin-top: 4em;
    }

    html {
        scroll-padding-top: 4em;
    }
}
