[flake8]
dictionaries=en_US,python,technical
docstring-convention = all
extend-ignore =
    U101
    E203
    D107
    D200
    D203
    D205
    D212
    D400
    D401
    D410
    D411
    D412
    D413
    D414
    D415
    D416

extend-exclude =
    doc/
    tests/fixtures/

per-file-ignores =
    tests/*:D100,D101,D103,D104,E501,SC100,SC200

unused-arguments-ignore-abstract-functions = true
unused-arguments-ignore-override-functions = true
unused-arguments-ignore-overload-functions = true
unused-arguments-ignore-dunder = true
