.DS_Store
__pycache__
.AppleDouble
.LSOverride

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Python virtual environment
venv/

# pycharm
.idea/

# VS Code
.vscode

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.tox/

/doc/_autosummary
/docs

.coverage

/doc/diffs
/doc/autoapi

tests/execution-spec-generated-tests
tests/fixtures
tests/t8n_testdata
