.DS_Store
__pycache__
.AppleDouble
.LSOverride

.python-version
__pycache__/
*.py[cod]
*$py.class
venv/
/fixtures/
/out/

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# pycharm
.idea/

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.tox/

/doc/_autosummary

.coverage

# misc
.vscode
*.code-workspace
verify_kzg_proof

# docs
_readthedocs
