!!! note "Markdown Content"
    Below is the verbatim markdown content from [`{{ pytest_node_id }}@{{ short_git_ref }}`]({{ source_code_url }}).

{# intentional additional newlines to force md file header/content to a newline #}
