{% extends "base.md.j2" %}

{% block title %}
# {{ title }}
{% endblock %}

{% block additional_content %}

::: {{ package_name }}
{% if "Spec" in title %}
    options:
        filters: ["^Spec*"]
{% else %}
    options:
        members: no
{% endif %}

{% if test_functions %}
## Test Functions Overview

| Name | Type | Cases ({{ target_or_valid_fork }}) | Description |
|------|------|-------------------------------|-------------|
{% for test_function in test_functions %}
| [`{{ test_function.name }}`](./{{ test_function.name }}.md) | {{ test_function.test_type }} | {{ test_function.test_case_count }} | {{ test_function.docstring_one_liner }} |
{% endfor %}
{% endif %}

{% endblock %}