name: Python Specification

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.8, pypy-3.8]

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: pip install tox requests
      - name: Download Geth and add to $PATH
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          $GITHUB_WORKSPACE/scripts/download_geth_linux.py --dir $GITHUB_WORKSPACE/bin
          echo $GITHUB_WORKSPACE/bin >> $GITHUB_PATH
      - name: Run Tox (PyPy)
        if: ${{ matrix.python == 'pypy-3.8' }}
        run: tox -e pypy3
      - name: Run Tox (CPython)
        if: ${{ matrix.python != 'pypy-3.8' }}
        run: tox -e py3
      - name: Upload coverage to Codecov
        if: ${{ matrix.python != 'pypy-3.8' }}
        uses: codecov/codecov-action@v1
        with:
          files: .tox/coverage.xml
          flags: unittests
      - name: Build docs
        if: ${{ matrix.python != 'pypy-3.8' }}
        run: tox -e doc
